.effect{
    opacity: 0.5;
    
}
.custom{
    padding-top: 30px;
    
     height: 550px;
    background-color: #E7E7E7;
     display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.effect:hover{
    
    opacity: 1;
    transition:all 0.3s ease-in-out;
    
}
.img img{
    height:430px;
    width:auto;
    
    
}
.dimen .card-body{
    height:433px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.dimen{
     display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
     
    width:1150px;
    height:433px;
    
}
.sizing{
    margin-bottom: 25px;
    
}
.Item{
    
   height:500px;
    
    
}

.mainBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 30px;
    background-color:#91D0FF;
}
/* .container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    padding-top: 45px;
} */
.textContent{
    display: flex;
    flex-direction: column;
  
    
    text-align: center;
    padding-top: 20px;
}
.textContent .row{
    
    display: flex;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
    align-items: center;
    height:200px;
    background-color: #FFD9DE;
}
.details{
  
    height:150px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}

.details img{
    width:20px;
}
.shop a{
    color:black
}
.shop{
    
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.follow img{
    width: 30px;
}
.follow{
    /* width:450px; */
    
    display: flex;
    flex-direction: column;
   align-items: center;
   justify-content: space-between;
  
   
    
}
.icons{
    padding-bottom: 40px;
    justify-content: space-evenly;
}

.follow p{
    padding-top: 45px;
    
}
.cardContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.copy{
    width: 25px;
    
}
.cpyRight{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFD9DE;
}